<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <jsp-config>
        <taglib>
            <taglib-uri>http://qwaevisz.hu/jsp/tlds/booktag</taglib-uri>
            <taglib-location>/WEB-INF/bookstore.tld</taglib-location>
        </taglib>
    </jsp-config>
    
</web-app>