<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<jsp-config>
		<taglib>
			<taglib-uri>http://qwaevisz.hu/jsp/tlds/booktag</taglib-uri>
			<taglib-location>/WEB-INF/bookstore.tld</taglib-location>
		</taglib>
	</jsp-config>

	<security-constraint>
		<display-name>Magazine protected security constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Protected Area</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>TRACE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>oe-user</role-name>
			<role-name>oe-admin</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Magazine public security constraint</display-name>
		<web-resource-collection>
			<web-resource-name>Public</web-resource-name>
			<url-pattern>/style/*</url-pattern>
			<url-pattern>/Logout</url-pattern>
			<http-method>GET</http-method>
		</web-resource-collection>
	</security-constraint>	

	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>OERealm</realm-name>
		<form-login-config>
			<form-login-page>/Login</form-login-page>
			<form-error-page>/LoginError</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-role>
		<role-name>oe-user</role-name>
	</security-role>
	
	<security-role>
		<role-name>oe-admin</role-name>
	</security-role>
	
	<error-page>
		<error-code>403</error-code>
		<location>/Error</location>
	</error-page>

</web-app>